@model PasswordRecoveryModel
@{
    Layout = "_ColumnsOne";

    //title
    NopHtml.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-password-recovery-page");
}
<div class="page password-recovery-page">
    <div class="page-title">
        <h1>@T("Account.PasswordRecovery")</h1>
    </div>
    <div class="page-body">
        <form asp-route="PasswordRecovery" method="post">
            <div asp-validation-summary="ModelOnly" class="message-error"></div>
            <p class="tooltip">@T("Account.PasswordRecovery.Tooltip")</p>
            <div class="fieldset">
                <div class="form-fields">
                    <div class="inputs">
                        <label asp-for="Email" asp-postfix=":"></label>
                        <input id="Email" asp-for="Email" onblur="validateEmail()" class="email" />
                        <nop-required />
                        <!-- <span asp-validation-for="Email"></span> -->
                    </div>
                </div>
                <span id="emailError" style="color: #e4434b; margin-bottom: 2px; margin-left: 40%"></span>
                <script>
                    function validateEmail() {
                        var email = document.getElementById("Email").value;
                        var lblError = document.getElementById("emailError");
                        lblError.innerHTML = "";
                        var expr = /^\w+([\.-]?\w+)*@@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
                        if (!expr.test(email)) {
                            console.log("Invalid");
                            lblError.innerHTML = "Invalid email address.";
                        }
                    }
                </script>
                @if (Model.DisplayCaptcha)
                {
                    <nop-captcha />
                }
            </div>
            <div class="buttons">
                <button type="submit" name="send-email" class="button-1 password-recovery-button">@T("Account.PasswordRecovery.RecoverButton")</button>
            </div>
        </form>
    </div>
</div>